<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Katalog dari restoran di Indonesia" name="description"/>
    <link href="app.webmanifest" rel="manifest"/>
    <meta content="#FF5722" name="theme-color"/>
    <link href="/icons/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="/icons/favicon.ico" rel="icon" sizes="any"/>
    <link href="/icons/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap"
          rel="stylesheet">
    <title>Resto App</title>
</head>
<body>
<a class="skip-link" href="javascript:void(0)">Menuju ke konten</a>
<div id="loading">
    <div class="lds-dual-ring"></div>
</div>
<header>
    <div class="wrapper">
        <div class="site-header">
            <h1 class="site-title">Resto App</h1>
            <button aria-label="toggle menu" class="hamb" id="menu-toggle">
                <span class="hamb-line"></span>
            </button>
        </div>
        <nav>
            <ul class="menu" id="menu">
                <li>
                    <a href="/#/">Home</a>
                </li>
                <li>
                    <a href="/#/favorites">Favorites</a>
                </li>
                <li>
                    <a href="https://gungsatya.github.io" target="_blank">About Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main id="maincontent" tabindex="0"></main>
<footer>
    <p>Copyright IGBN.Satya Wibawa</p>
</footer>
</body>
</html>
